<div class="container">
  <h1>Nowy Bilet</h1>
  <table>
    <tbody>    
        <tr>
          <td><%= render 'form', ticket: @ticket %>
          <td><%= render partial: "event_list", :locals => { :events => Event.all } %>         
        </tr>    
    </tbody>
  </table>
</div>
