<h1>New Ticket</h1>

<table>
  <tbody>    
      <tr>
        <td><%= render 'form', ticket: @ticket %>
        <td><%= render partial: "event_list", :locals => { :events => Event.all } %>         
      </tr>    
  </tbody>
</table>

<%= link_to 'Back', tickets_path %>
